<!-- SECTION -->
<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-5">
					<img @slide src="./assets/img/logo.png" alt="Travel Dairy Blog">
					<div class="section-row">
						<div class="section-title">
							<h2 class="title">Our story</h2>
						</div>
						<p>We were inspired to explore the world by following other people's blogs online. Travel blogs are a great source for cool ideas and tips if you're planning a trip! Want to travel and learn more about the most beautiful cities in the world? You're in the right place.</p>
					</div>
				</div>
				<div class="col-md-7">
					<div class="section-row">
						<div class="section-title">
							<h2 class="title">Our Vision</h2>
						</div>
						<p>You are probably tired of being stuck in a hamster cart and want to regain some freedom, ease and joy.

							Each of us has our own interpretation of what the ultimate form of travel looks like.
							
							I am sure we can agree that travel allows us to avoid daily formalities, headaches and routines and gives us a sense of ownership of life.
							
							It offers an exotic spark of adventure, wonder and discovery that seems to flood our lives day by day.
							
							Here you can find how to spend your vacation on the best way... We will tell you where to go, what to eat, what to visit, where to sleep, where not to go, what to avoid, how to get across Europe on the fastest and cheapest way.</p>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->