<!-- PAGE HEADER -->
<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <div class="author">
                        <img class="author-img center-block" src="./assets/img/author.jpg" alt="">
                        <h1>Marko Mutavdžić</h1>
                        <ul class="author-social">
                            <li><a href="https://github.com/mutavdzitch"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/mutavdzic/"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#">Documentation: <i class="fa fa-file"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /PAGE HEADER -->

<!-- SECTION -->
<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-5">
					<div class="section-row">
						<blockquote class="blockquote">
							<p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.</p>
							<footer class="blockquote-footer">Steve Jobs</footer>
						</blockquote>
					</div>
				</div>
				<div class="col-md-7">
					<div class="section-row">
						<div class="section-title">
							<h2 class="title">About author</h2>
						</div>
						<p>The author of the "Travel diary" blog, which is part of the prerequisites for the subject Web programming, is a graduate of the Higher ICT School in Belgrade, course Internet technology.
							He graduated from the Radoje Ljubičić Technical High School in Uzice, course Architectural Engineering. In addition to web programming, he is involved in design, acting and directing. He enrolled in college in the 2016/2017 school year.</p>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->